.billboard {
	background: #ffbb0066;
	border-radius: 35px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.5px);
	-webkit-backdrop-filter: blur(6.5px);
	border: 1px solid #a1760066;
	text-align: center;
	padding: 25px;
	width: 100%;
}
